DB_HOST=localhost   
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
# AUTH_SECRET=$(openssl rand -base64 32)
#  echo "AUTH_SECRET=$(openssl rand -base64 32)" >> .env  
AUTH_SECRET=secret=generatedSecretPassword
AUTH_THRUST_HOST=http://localhost:8000


PGADMIN_DEFAULT_EMAIL=admin@mail.com
PGADMIN_DEFAULT_PASSWORD=${DB_PASSWORD}
PGADMIN_PORT=5050